* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 20px 0 40px 10px;
}

#recipes {
  width: 95%;
  margin: 0 auto 40px auto;
}

#recipes > div {
  border-radius: 5px;
  box-shadow: 2px 2px 10px lightgrey;
  border-top: solid 5px #ffcd00;
  margin-bottom: 40px;
}

.content {
  margin: 0 10px;
}

.content > hr {
  margin: 15px auto;
  width: 90%;
  border: none;
  background-color: #f2f2f0;
  padding: 2px 0;
}

.content > h2 {
  margin-top: 10px;
}

.content > p {
  color: #666666;
  margin-bottom: 10px;
}

#recipes > div > img {
  width: 100%;
}

.move-button {
  display: flex;
  justify-content: end;
}

.move-button > button {
  justify-items: flex-end;
  margin: 10px 0;
  border: none;
  background: #3030cf;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

@media (min-width: 600px) {
  #container {
    width: 90%;
    margin: auto;
  }

  #recipes {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #recipes > div {
    margin-bottom: 0;
  }

  .move-button {
    position: relative;
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 1025px) {
  #container {
    width: 80%;
    margin: auto;
  }

  h1 {
    margin: 20px 0 40px 0;
  }

  #recipes {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  #recipes > div {
    margin-bottom: 40px;
  }
}
